# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/

wifi_ssid: ""
wifi_passwd: ""
device_passwd: ""
uplink_wifi_ssid: ""
uplink_wifi_passwd: ""
telegram_api_key: ":AAEMx7Sdn7Wg2UC4dZ9dyNi8yj2BJLiIeMU"
mediadir: ""
