# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/

wifi_ssid: "wifi_ssid"
wifi_passwd: "wifi_passwd"
device_passwd: "device_passwd"
uplink_wifi_ssid: "wifi uplink pass"
uplink_wifi_passwd: "wifi uplink pass"
telegram_api_key: "telegram noti key"
mediadir: "configured mediapath"
